@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #5c6bc0;
    --color-secondary: #d0bcff;
    --color-tertiary: #322359;
    --bg-primary: #0c112d;
    --bg-secondary: #191818;
    --color-primary-hover: #5c6bc057;

    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
