@if (paginate.length > 0) {
<span class="paginate">
    @if(paginate[0].first){
    <a (click)="onChangePage(paginate[0].first)">{{
        paginate[0].first_number
    }}</a>
    } @if (paginate[0].prev && paginate[0].prev !== paginate[0].first) {
    <a (click)="onChangePage(paginate[0].prev)">{{
        paginate[0].prev_number
    }}</a>
    }

    <a class="active not-clickable">{{ currentPage }}</a>

    @if (paginate[0].next && paginate[0].next !== paginate[0].last) {
    <a (click)="onChangePage(paginate[0].next)">{{
        paginate[0].next_number
    }}</a>
    } @if (paginate[0].last) {
    <a>...</a>
    <a (click)="onChangePage(paginate[0].last)">{{
        paginate[0].last_number
    }}</a>
    }
</span>
}
