<a class="card" href="">
    <section class="principal-info">
        <div class="avatar-title">
            <div class="picture-avatar">
                <img src="{{ repository.avatar }}" alt="avatar" />
            </div>

            <h2>{{ repository.name }}</h2>
        </div>
        <p>{{ repository.description }}</p>
        <span>
            <img src="assets/icons/language-icon.svg" alt="" />
            {{ repository.language }}
        </span>
    </section>

    <section class="topics">
        @if (repository.topics.length > 0) {
        <ul>
            @for (topic of repository.topics; track $index) {
            <li>{{ topic }}</li>
            }
        </ul>
        }
    </section>

    <section class="info-repository">
        <span>
            <img
                src="assets/icons/star-icon.svg"
                alt="Quantidade de watchers/estrelas"
            />
            {{ repository.stars }}
        </span>
        <span>
            <img src="assets/icons/fork-icon.svg" alt="Quantidade de forks" />
            {{ repository.forks }}
        </span>
        <span>
            <img
                src="assets/icons/warning-icon.svg"
                alt="Quantidade de issues abertas"
            />
            {{ repository.open_issues }}
        </span>
    </section>
</a>
