.card {
    display: flex;
    border: 2px solid var(--color-primary);
    width: 100%;
    height: 240px;
    border-radius: 8px;
    padding: 4%;
    gap: 8px;
    transition: 0.6s ease-in;
    position: relative;
}

.avatar-title {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 450px;
    flex-wrap: wrap;
}

.avatar-title h2 {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.picture-avatar {
    width: 59px;
    height: 52px;
    border: 2px solid var(--color-tertiary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.picture-avatar img {
    max-height: 44px;
    object-fit: contain;
}

.principal-info > p {
    color: #ffff;
    font-size: 0.8rem;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 75px;
    height: 120px;
    width: 260px;
}

.principal-info > span {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-weight: 700;
    gap: 6px;
    margin-left: 75px;
    position: absolute;
    bottom: 30px;
}

.topics ul {
    list-style: none;
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 4px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 8px;
    font-size: 0.6rem;
    padding: 8px;
}

.topics li {
    padding: 1%;
}

.info-repository {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 25px;
    position: absolute;
    right: 80px;
}

.info-repository span {
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 8%;
    text-align: right;
    font-weight: 500;
    color: var(--color-secondary);
}

.card:hover {
    background-color: var(--bg-primary);
}
