<a class="card" href="">
    <section class="principal-info">
        <div class="avatar-title">
            <div class="picture-avatar">
                <img
                    src="https://avatars.githubusercontent.com/u/9950313?v=4"
                    alt="avatar"
                />
            </div>

            <h2>node js/node</h2>
        </div>
        <p>Node.js JavaScript runtime ✨🐢🚀✨</p>
        <span>
            <img src="assets/icons/language-icon.svg" alt="" />
            JavaScript
        </span>
    </section>

    <section class="topics">
        <ul>
            <li>nodejs</li>
            <li>javascript</li>
            <li>windows</li>
            <li>macos</li>
            <li>linux</li>
        </ul>
    </section>

    <section class="info-repository">
        <span>
            <img
                src="assets/icons/star-icon.svg"
                alt="Quantidade de watchers/estrelas"
            />
            112k
        </span>
        <span>
            <img src="assets/icons/fork-icon.svg" alt="Quantidade de forks" />
            32k
        </span>
        <span>
            <img
                src="assets/icons/warning-icon.svg"
                alt="Quantidade de issues abertas"
            />
            2k
        </span>
    </section>
</a>
