@if (!isLoading) {
<div
    [ngClass]="{ 'has-cards': hasCards, 'not-cards': !hasCards }"
    class="list-repository"
>
    <header>
        <app-header></app-header>
    </header>
    @if (total_repositories.length > 0) {

    <h1>{{ total_repositories }} Resultados</h1>

    <section class="cards">
        @for (repository of repositories; track $index) {
        <app-card [repository]="repository"></app-card>
        }
    </section>

    <section class="pagination">
        <app-paginate
            [paginate]="paginate"
            (eventPage)="getRepositoriesByPaginate($event)"
        ></app-paginate>
    </section>
    }
</div>
}@else {
<div class="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

}
